%header
#main
  %h2 HTML5 Canvas & jQuery UI Demo
  %canvas#eqball{:width => '1000px', :height => '500px'}Only for html5 adapted browsers
  -%w(size spx spy trail red green blue alpha).each do |id|
    .box
      %label{:for => id}= "#{id}:"
      %input{:id => id, :type => 'text', :style => "color:#F6931F;font-weight:bold"}
      %span.slider{:id => id}
%footer
  %a{:href => CREDIT[1]}=CREDIT[0]
