$font_color: #D0FFD0;
$bg_color: #325F82;
$canvas_color: rgb(255,255,240);

* {
  margin: 0;
  padding: 0;
  font-family: Trebuchet ms, Verdana, Myriad Web, Syntax, sans-serif
}

body {
  color: $font_color;
  background-color: $bg_color;
  width: 1000px;
  margin: 60px auto;
}

header {
  display:block;
}

#main {
  h2 { margin-bottom: 5px; }
  canvas#bounce {
    border: thin solid #444;
    background-color: $canvas_color;
    margin-bottom: 10px;
  }
  .box {
    overflow: auto;
    width: 80px;
    float: left;
    input {
      width: 30px;
      text-align: left;
      background-color: $bg_color;
      border: none;
    }
    .slider {
      height: 120px;
      float: left;
      margin:20px 20px 40px 20px;
    }
  }
}

footer {
  clear: both;
  display: block;
  height: 50px;
  text-align: center;
  a {
    text-decoration: none;
    color: $font_color;
    &:visited {
      color: $font_color;
    }
  }
}
